* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
}

body {
  display: flex;
  justify-content: center;
}

h1, h2 {
  margin: 0;
}

.container {
  width: 100%;
  padding: 1.5em;
}

.banner {
  color: #666977;
  font-weight: 700;

  .banner-group {
    padding: .5em 0;

    .header {
      font-size: 1.6em;
      color: black;
    }

    .subheader {
      font-size: 1em;
    }
  }

  .toggle-group {
    padding: .5em 0;
    display: flex;
    justify-content: space-between;

    .switch {
      position: relative;
      width: 2.6em;
      height: 1.5em;

      .dark-mode-toggle {
        height: 0;
        width: 0;
        visibility: hidden;
        cursor: pointer;
      }

      .dark-mode-toggle:before {
        content: '';
        visibility: visible;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: hsl(230, 22%, 74%);
        border-radius: 50px;
      }

      .dark-mode-toggle:after {
        content: '';
        visibility: visible;
        position: absolute;
        height: 1em;
        width: 1em;
        right: 4px;
        bottom: 4px;
        background: #FFFFFF;
        border-radius: 50px;
      }

      .dark-mode-toggle:hover + .dark-mode-toggle:before {
        background: #2196F3;
      }

      .dark-mode-toggle:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
      }

      .dark-mode-toggle:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }
    }
  }
}